USE [master]
GO
/****** Объект:  Database [Sudoh]    Дата создания скрипта: 22.05.2026 0:41:23 ******/ 
CREATE DATABASE [Sudoh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sudoh', FILENAME = N'D:\MSSQL\MSSQL17.SQLEXPRESS\MSSQL\DATA\Sudoh.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Sudoh_log', FILENAME = N'D:\MSSQL\MSSQL17.SQLEXPRESS\MSSQL\DATA\Sudoh_1.LDF' , SIZE = 9408KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sudoh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sudoh]
GO
/****** Объект:  Table [dbo].[Cargo]    Дата создания скрипта: 22.05.2026 0:41:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[CustomValue] [int] NOT NULL,
	[C_Shipment] [int] NOT NULL,
	[DeclareValue] [decimal](18, 2) NULL,
	[Unit] [varchar](30) NULL,
	[InsureValue] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Cargo] PRIMARY KEY CLUSTERED 
(
	[CustomValue] ASC,
	[C_Shipment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[City]    Дата создания скрипта: 22.05.2026 0:41:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[C_city] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_city] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Client]    Дата создания скрипта: 22.05.2026 0:41:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[INN] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [varchar](50) NULL,
	[Bank] [varchar](100) NULL,
	[Address] [char](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[INN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Flight]    Дата создания скрипта: 22.05.2026 0:41:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[C_route] [int] NOT NULL,
	[C_city] [int] NOT NULL,
	[FreeValue] [decimal](18, 2) NULL,
	[DepartureDate] [date] NULL,
	[ArriveDate] [date] NULL,
 CONSTRAINT [PK_Flight] PRIMARY KEY CLUSTERED 
(
	[C_route] ASC,
	[C_city] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Route]    Дата создания скрипта: 22.05.2026 0:41:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[C_route] [int] IDENTITY(1,1) NOT NULL,
	[RegNumber] [int] NOT NULL,
	[DepartureDate] [date] NULL,
	[ArriveDate] [date] NULL,
	[C_Scity] [int] NULL,
	[C_Ccity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[C_route] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Ship]    Дата создания скрипта: 22.05.2026 0:41:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ship](
	[RegNumber] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Skipper] [varchar](50) NOT NULL,
	[C_Type] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
	[Yeare] [datetime] NOT NULL,
	[Dockyard] [char](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Shipment]    Дата создания скрипта: 22.05.2026 0:41:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipment](
	[C_Shipment] [int] IDENTITY(1,1) NOT NULL,
	[Shipment] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C_Shipment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[TypeS]    Дата создания скрипта: 22.05.2026 0:41:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeS](
	[C_Type] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Сonsignment]    Дата создания скрипта: 22.05.2026 0:41:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сonsignment](
	[CustomValue] [int] IDENTITY(1,1) NOT NULL,
	[C_route] [int] NULL,
	[C_Scity] [int] NOT NULL,
	[C_Ccity] [int] NOT NULL,
	[Sender] [int] NOT NULL,
	[Сonsignee] [int] NOT NULL,
	[СonsValue] [decimal](18, 2) NOT NULL,
	[CustomClearance] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cargo] ([CustomValue], [C_Shipment], [DeclareValue], [Unit], [InsureValue]) VALUES (3, 1, CAST(100.00 AS Decimal(18, 2)), N'кг', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Cargo] ([CustomValue], [C_Shipment], [DeclareValue], [Unit], [InsureValue]) VALUES (3, 2, CAST(300.00 AS Decimal(18, 2)), N'кг', CAST(0.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([C_city], [Name]) VALUES (1, N'Ленинград')
INSERT [dbo].[City] ([C_city], [Name]) VALUES (2, N'Резекне')
INSERT [dbo].[City] ([C_city], [Name]) VALUES (3, N'Пушкин')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([INN], [FIO], [Bank], [Address]) VALUES (1, N'Жигалов Михаил', N'ВТБ', N'Новогодняя, 64                                                                                      ')
INSERT [dbo].[Client] ([INN], [FIO], [Bank], [Address]) VALUES (2, N'Аблепихин Алексей', N'ВТБ', N'Баргузинская, 44                                                                                    ')
INSERT [dbo].[Client] ([INN], [FIO], [Bank], [Address]) VALUES (3, N'Мохов Александр', N'ВТБ', N'Есенина, 117                                                                                        ')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
INSERT [dbo].[Flight] ([C_route], [C_city], [FreeValue], [DepartureDate], [ArriveDate]) VALUES (1, 1, CAST(600.00 AS Decimal(18, 2)), CAST(N'2018-03-09' AS Date), NULL)
INSERT [dbo].[Flight] ([C_route], [C_city], [FreeValue], [DepartureDate], [ArriveDate]) VALUES (1, 2, CAST(1000.00 AS Decimal(18, 2)), CAST(N'2018-03-21' AS Date), CAST(N'2018-03-20' AS Date))
INSERT [dbo].[Flight] ([C_route], [C_city], [FreeValue], [DepartureDate], [ArriveDate]) VALUES (1, 3, CAST(600.00 AS Decimal(18, 2)), CAST(N'2018-03-12' AS Date), CAST(N'2018-03-10' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Route] ON 

INSERT [dbo].[Route] ([C_route], [RegNumber], [DepartureDate], [ArriveDate], [C_Scity], [C_Ccity]) VALUES (1, 1, CAST(N'2018-03-09' AS Date), CAST(N'2018-03-22' AS Date), 1, 4)
INSERT [dbo].[Route] ([C_route], [RegNumber], [DepartureDate], [ArriveDate], [C_Scity], [C_Ccity]) VALUES (2, 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[Route] ([C_route], [RegNumber], [DepartureDate], [ArriveDate], [C_Scity], [C_Ccity]) VALUES (3, 3, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Route] OFF
GO
SET IDENTITY_INSERT [dbo].[Ship] ON 

INSERT [dbo].[Ship] ([RegNumber], [Name], [Skipper], [C_Type], [Capacity], [Yeare], [Dockyard]) VALUES (1, N'СЫТНЫЙ', N'Андросов Антон', 1, 1000, CAST(N'1905-05-26T00:00:00.000' AS DateTime), N'Порт приписки                                     ')
INSERT [dbo].[Ship] ([RegNumber], [Name], [Skipper], [C_Type], [Capacity], [Yeare], [Dockyard]) VALUES (2, N'ПОРТОС', N'Мошкин Виктор', 2, 2000, CAST(N'1905-05-09T00:00:00.000' AS DateTime), N'Порт приписки                                     ')
INSERT [dbo].[Ship] ([RegNumber], [Name], [Skipper], [C_Type], [Capacity], [Yeare], [Dockyard]) VALUES (3, N'ШУШАРЫ', N'Ташков Андрей', 3, 1500, CAST(N'1905-05-12T00:00:00.000' AS DateTime), N'Порт приписки                                     ')
SET IDENTITY_INSERT [dbo].[Ship] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipment] ON 

INSERT [dbo].[Shipment] ([C_Shipment], [Shipment]) VALUES (1, N'Яблоки')
INSERT [dbo].[Shipment] ([C_Shipment], [Shipment]) VALUES (2, N'Груши')
INSERT [dbo].[Shipment] ([C_Shipment], [Shipment]) VALUES (3, N'Бананы')
SET IDENTITY_INSERT [dbo].[Shipment] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeS] ON 

INSERT [dbo].[TypeS] ([C_Type], [Type]) VALUES (1, N'Трейлерное судно')
INSERT [dbo].[TypeS] ([C_Type], [Type]) VALUES (2, N'Автомобилевоз')
INSERT [dbo].[TypeS] ([C_Type], [Type]) VALUES (3, N'Контейнеровоз')
SET IDENTITY_INSERT [dbo].[TypeS] OFF
GO
SET IDENTITY_INSERT [dbo].[Сonsignment] ON 

INSERT [dbo].[Сonsignment] ([CustomValue], [C_route], [C_Scity], [C_Ccity], [Sender], [Сonsignee], [СonsValue], [CustomClearance]) VALUES (3, 1, 1, 2, 1, 2, CAST(400.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[Сonsignment] OFF
GO
ALTER TABLE [dbo].[Сonsignment] ADD  DEFAULT ('0') FOR [СonsValue]
GO
ALTER TABLE [dbo].[Cargo]  WITH CHECK ADD FOREIGN KEY([C_Shipment])
REFERENCES [dbo].[Shipment] ([C_Shipment])
GO
ALTER TABLE [dbo].[Cargo]  WITH CHECK ADD FOREIGN KEY([CustomValue])
REFERENCES [dbo].[Сonsignment] ([CustomValue])
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD FOREIGN KEY([C_city])
REFERENCES [dbo].[City] ([C_city])
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD FOREIGN KEY([C_route])
REFERENCES [dbo].[Route] ([C_route])
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD FOREIGN KEY([C_Ccity])
REFERENCES [dbo].[City] ([C_city])
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD FOREIGN KEY([C_Scity])
REFERENCES [dbo].[City] ([C_city])
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD FOREIGN KEY([RegNumber])
REFERENCES [dbo].[Ship] ([RegNumber])
GO
ALTER TABLE [dbo].[Сonsignment]  WITH CHECK ADD FOREIGN KEY([C_Ccity])
REFERENCES [dbo].[City] ([C_city])
GO
ALTER TABLE [dbo].[Сonsignment]  WITH CHECK ADD FOREIGN KEY([C_route])
REFERENCES [dbo].[Route] ([C_route])
GO
ALTER TABLE [dbo].[Сonsignment]  WITH CHECK ADD FOREIGN KEY([C_Scity])
REFERENCES [dbo].[City] ([C_city])
GO
ALTER TABLE [dbo].[Сonsignment]  WITH CHECK ADD FOREIGN KEY([Sender])
REFERENCES [dbo].[Client] ([INN])
GO
ALTER TABLE [dbo].[Сonsignment]  WITH CHECK ADD FOREIGN KEY([Сonsignee])
REFERENCES [dbo].[Client] ([INN])
GO
/****** Объект:  Trigger [dbo].[TCargo1]    Дата создания скрипта: 22.05.2026 0:41:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TCargo1] on [dbo].[Cargo]
for insert,update,delete
as	begin --1
	DECLARE @row int
        set @row=@@ROWCOUNT
		if @row=0 return 
		if @row=1
	BEGIN--2
		DECLARE @CustomValue int, @DeclareValue int, @C_route int, @Min_DV dec(18,2) --Минимальное свободное место на остановке
		DECLARE @CustomValue0 int, @DeclareValue0 int
		
		SELECT @CustomValue = CustomValue  from inserted
		SELECT @CustomValue0 = CustomValue  from deleted
		SELECT @DeclareValue = DeclareValue  from inserted
		SELECT @DeclareValue0 = DeclareValue  from deleted
		
		SELECT @C_route=(select C_route from Сonsignment where CustomValue=@CustomValue)
		
		
		select C_route, C_city, FreeValue, DepartureDate, 
		CASE WHEN ArriveDate IS NULL THEN '' ELSE ArriveDate END as ass, 
		ROW_NUMBER() OVER(ORDER BY ArriveDate) Step
		Into #FlightStep
		from Flight where C_route=@C_route
		order by ArriveDate
		
		DECLARE @C_Scity_step int, @C_Ccity_step int --очередность следования городов отправления и прибытия (напр 2 и 5)
		SELECT @C_Scity_step=(select Step from #FlightStep where C_city=(select C_Scity from Сonsignment where CustomValue=@CustomValue))
		SELECT @C_Ccity_step=(select Step from #FlightStep where C_city=(select C_Ccity from Сonsignment where CustomValue=@CustomValue))
		
		SELECT @Min_DV=(select MIN(FreeValue) from #FlightStep where   Step>=@C_Scity_step and Step<@C_Ccity_step)
		
		if (@Min_DV<@DeclareValue)
		begin--3
			DROP TABLE #FlightStep
			rollback transaction
			print 'Погрузка невозможна, произойдет перевес'
			return 
		end
		
		IF(EXISTS (SELECT * FROM deleted))
		begin
				Update Сonsignment
				set СonsValue = СonsValue-@DeclareValue0 where CustomValue=@CustomValue0
		end
		
		IF(EXISTS (SELECT * FROM inserted))
		begin
			Update Сonsignment
			set СonsValue = СonsValue+@DeclareValue where CustomValue=@CustomValue
		end
		
		
		/* --Теперь достаточно того, что обновляем партию
		Update Flight
		set FreeValue = FreeValue-@DeclareValue where  C_route=@C_route and C_city in 
		(select C_city from #FlightStep where Step>=@C_Scity_step and Step<@C_Ccity_step)*/
		
		DROP TABLE #FlightStep
		
		--==========================
		--=======ДОБАВИТЬ ПРО ВЕС=======
		--==========================
		
	END
end
GO
ALTER TABLE [dbo].[Cargo] ENABLE TRIGGER [TCargo1]
GO
/****** Объект:  Trigger [dbo].[TFlight1]    Дата создания скрипта: 22.05.2026 0:41:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TFlight1] on [dbo].[Flight]
for insert,update,delete
as	begin --1
	DECLARE @row int
        set @row=@@ROWCOUNT
		if @row=0 return 
		if @row=1
	BEGIN--2
		DECLARE @Counter1 int, @C_route int, @ArriveDate date, @DepartureDate date, @C_Scity int, @C_Ccity int, @CC_Scity int, @CC_Ccity int
		DECLARE @EarlyDate date, @LastDate date
		DECLARE @C_city int, @C0_city int, @ArriveDate0  date, @DepartureDate0 date, @C0_route int
		SELECT @C_route = C_route  from inserted
		SELECT @C0_route = C_route  from deleted
		SELECT @DepartureDate = DepartureDate  from inserted
		SELECT @ArriveDate = ArriveDate  from inserted
		SELECT @ArriveDate0 = ArriveDate  from deleted
		SELECT @DepartureDate0 = DepartureDate  from deleted
		SELECT @C_city = C_city  from inserted
		SELECT @C0_city = C_city  from deleted
		
		SELECT @Counter1=(select COUNT(C_route) from Route where C_route=@C_route)
		SELECT @C_Scity=(select C_Scity from Route where C_route=@C_route)--город отправления
		SELECT @C_Ccity=(select C_Ccity from Route where C_route=@C_route)--город назначения
		

		
		
		SELECT @EarlyDate=(select MIN(ArriveDate) from Flight where C_route=@C_route)--минимальная дата прибытия
		SELECT @LastDate=(select MAX(DepartureDate) from Flight where C_route=@C_route)--максимальная дата отправления
	
	IF((EXISTS (SELECT * FROM inserted))	and (NOT EXISTS (SELECT * FROM deleted)))
	BEGIN
		if (@DepartureDate is not null and @ArriveDate is null)--если точка отправления
		begin--3
			if (@C_Scity is not null)
			begin
				rollback transaction
				print 'Город отправления уже есть. Измените входные данные'
				return 
			end

			if (@EarlyDate<=@DepartureDate and @EarlyDate is not null)
			begin
				rollback transaction
				print 'Дата отправления из начальной точки позже наименьшей даты прибытия в одну из точек'
				return 
			end
			Update Route
			set DepartureDate = @DepartureDate, C_Scity=@C_city where C_route=@C_route
			
		end
	
		if (@DepartureDate is null and @ArriveDate is not null)--если точка назначения
		begin--3
			if (@C_Ccity is not null)
			begin
				rollback transaction
				print 'Город назначения уже есть. Измените входные данные'
				return 
			end


			if (@LastDate>=@ArriveDate and @LastDate is not null)
			begin
				rollback transaction
				print 'Дата прибытия в конечную точку раньше наибольшей даты отправления из последней точки'
				return 
			end
			Update Route
			set ArriveDate= @ArriveDate, C_Ccity=@C_city where C_route=@C_route
			
		end
		
		
		if (@DepartureDate is null and @ArriveDate is null)--если точка назначения
		begin--3
			rollback transaction
			print 'Обе даты пусты, запрещено'
			return 
		end
		----------------------------
		----------------------------ЕСЛИ промежуточная точка
		----------------------------
		if (@DepartureDate is not null and @ArriveDate is not null)
		begin
			if (@ArriveDate>=@DepartureDate)
			begin
				rollback transaction
				print 'Дата прибытия позже даты отправки'
				return 
			end


			if ((select min(ArriveDate) from Flight where C_route=@C_route and @ArriveDate<ArriveDate)<=@DepartureDate)
			begin
				rollback transaction
				print 'Дата отбытия позже, чем дата прибытия в следующий пункт'
				return 
			end
			
			if ((select max(DepartureDate) from Flight where C_route=@C_route and @DepartureDate>DepartureDate)>=@ArriveDate)
			begin
				rollback transaction
				print 'Дата прибытия раньше, чем дата отбытия из предыдущего пункта'
				return 
			end
		end
	END	
	
	
	
	
	IF(EXISTS (SELECT * FROM deleted))	
	begin
		if (@C0_city in (select C_Scity from Сonsignment where C_route=@C_route) or  @C0_city in (select C_Ccity from Сonsignment where C_route=@C_route))
		begin
			if (@C0_city!=@C_city or @C_city is null)
			begin
				rollback transaction
				print 'Город есть в партии, удалить и изменять запрещено'
				return
			end
		end	
		if (not exists (SELECT * FROM inserted))--если точка начальная или конечная, то при ее удалении изменяется Маршрут
		begin
			if (@ArriveDate0 is not null and @DepartureDate0 is null) 
			begin
				Update Route
				set ArriveDate=NULL, C_Ccity=NULL where C_route=@C0_route
				
			end
			if (@ArriveDate0 is null and @DepartureDate0 is not null)
			begin
				Update Route
				set DepartureDate=NULL, C_Scity=NULL  where C_route=@C0_route
				
			end			
		end
	end
--======================	
	IF((EXISTS (SELECT * FROM inserted)) and (EXISTS (SELECT * FROM deleted))) --Это UPDATE для Flight
	BEGIN	
		/*Запретить менять код маршрута, ведь если его можно будет менять, то начнется дичь*/
		if (@C_route!=@C0_route)
		begin
			rollback transaction
			print 'Менять код маршрута нельзя'
			return 
		end
		if (@C_city!=@C0_city and (@ArriveDate0!=@ArriveDate or @DepartureDate0!=@DepartureDate))
		begin
			rollback transaction
			print 'Нельзя менять город и дату одновременно'
			return 
		end
		
		if (@ArriveDate0!=@ArriveDate and @DepartureDate0!=@DepartureDate)
		begin
			rollback transaction
			print 'Изменять можно только одну дату за раз'
			return 
		end

	
		--Если UPDATE, добавляем дату прибытия, делаем из начальной промежуточную!!!
		if (@ArriveDate0 is null and @ArriveDate is not null)
		begin
			if (@ArriveDate>=@DepartureDate0)
			begin
				rollback transaction
				print 'Дата прибытия позже даты отправки'
				return 
			end
			else
			begin
				Update Route
				set DepartureDate=NULL, C_Scity=NULL  where C_route=@C_route
				
			end
		end
		
		----Если UPDATE, добавляем дату отправления, делаем из конечной промежуточную!!!
		if (@DepartureDate0 is null and @DepartureDate is not null)
		begin
			if (@DepartureDate<=@ArriveDate0)
			begin
				rollback transaction
				print 'Дата отправления раньше даты прибытия'
				return 
			end
			else
			begin
				Update Route
				set ArriveDate=NULL, C_Ccity=NULL  where C_route=@C_route
				
			end
		end 
		
		if (@DepartureDate!=@DepartureDate0 and @DepartureDate0 is not null) --Дата отправления промежуточной или начальной точки соответственно меняется на другую дату отправления
		begin
			if (@ArriveDate0 is not null)
			begin
				if ((select min(ArriveDate) from Flight where C_route=@C0_route and @ArriveDate0<ArriveDate)<=@DepartureDate)
				begin
					rollback transaction
					print 'Дата отбытия позже, чем дата прибытия в следующий пункт'
					return 
				end
			end
			else
			begin
				if ((select min(ArriveDate) from Flight where C_route=@C0_route)<=@DepartureDate)
				begin
					rollback transaction
					print 'Дата отбытия позже, чем дата прибытия в следующий пункт'
					return 
				end
				else
				begin
					Update Route
					set DepartureDate=@DepartureDate where C_route=@C_route
					
				end
			end
		end
		
		
		if (@ArriveDate!=@ArriveDate0 and @ArriveDate0 is not null) --Дата прибытия промежуточной или конечной точки соответственно меняется на другую дату прибытия
		begin
			if (@DepartureDate0 is not null)
			begin
				select * from deleted
				if ((select max(DepartureDate) from Flight where C_route=@C0_route and @DepartureDate0>DepartureDate)>=@ArriveDate)
				begin
					rollback transaction
					print 'Дата прибытия раньше, чем дата отбытия из предыдущего пункта'
					return 
				end
			end
			else
			begin
				if ((select min(DepartureDate) from Flight where C_route=@C0_route)>=@ArriveDate)
				begin
					rollback transaction
					print 'Дата прибытия раньше, чем дата отбытия из предыдущего пункта'
					return 
				end		
				else
				begin
					Update Route
					set ArriveDate=@ArriveDate where C_route=@C_route
					 
				end
			end
		end
		
		select C_route, C_city, FreeValue, DepartureDate, 
		CASE WHEN ArriveDate IS NULL THEN '' ELSE ArriveDate END as ass, 
		ROW_NUMBER() OVER(ORDER BY ArriveDate) Step
		Into #FlightStep
		from Flight where C_route=@C_route
		order by ArriveDate
		DECLARE @MaxC_city int, @MinC_city int
		select @MaxC_city=(select C_city from #FlightStep  where Step=(select MAX(Step) from #FlightStep))
		select @MinC_city=(select C_city from #FlightStep  where Step=(select MIN(Step) from #FlightStep))
		
		--Меняем дату отправления на null, переход с промежуточной точки на конечную
		if (@DepartureDate is null and @DepartureDate0 is not null)
		begin
			if ((select C_Scity from Route where C_route=@C_route) is not null)
			begin
				rollback transaction
				print 'Нельзя назначить конечную точку, она уже есть'
				return 
			end
			if (@C_city!=@MaxC_city)
			begin
				rollback transaction
				print 'Перестраиваемая точка не последняя в списке, назначить конечной точкой нельзя'
				return 
			end
			Update Route
			set ArriveDate=@ArriveDate0 where C_route=@C_route
			 
		end
		
		--Меняем дату прибытия на null, переход с промежуточной точки на начальную
		if (@ArriveDate is null and @ArriveDate0 is not null)
		begin
			if ((select C_Ccity from Route where C_route=@C_route) is not null)
			begin
				rollback transaction
				print 'Нельзя назначить начальную точку, она уже есть'
				return 
			end
			if (@C_city!=@MinC_city)
			begin
				rollback transaction
				print 'Перестраиваемая точка не первая в списке, назначить конечной точкой нельзя'
				return 
			end
			Update Route
			set DepartureDate=@DepartureDate0 where C_route=@C_route
			
		end
			
	END

		/*Запретить менять код маршрута, ведь если его можно будет менять, то начнется дичь*/
		/*Менять даты и города в маршруте(при update delete, при insert уже есть), запретить менять ручками*/
		/*Запретить менять остановку если она есть в партии*/
		/*Изменения дат обрабатывать*/
		
		/*Изменения весов в других триггерах обрабатывать*/
		
	END
end
GO
ALTER TABLE [dbo].[Flight] ENABLE TRIGGER [TFlight1]
GO
/****** Объект:  Trigger [dbo].[TFlight2]    Дата создания скрипта: 22.05.2026 0:41:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TFlight2] ON [dbo].[Flight]
AFTER INSERT
AS
BEGIN
	IF(@@ROWCOUNT != 1)
	BEGIN
		ROLLBACK TRANSACTION 
		PRINT 'Нельзя изменять более 1 записи'
		RETURN 
	END		
		
	IF(EXISTS (SELECT * FROM inserted))
	BEGIN
		IF( NOT EXISTS (SELECT * FROM deleted))
		BEGIN
		
		DECLARE @Capacity int, @C_route int, @C_city int
		SELECT @C_route = C_route  from inserted
		SELECT @C_city = C_city  from inserted
		SELECT @Capacity=(select Capacity from Ship join Route on Ship.RegNumber=Route.RegNumber 
		where Route.C_route=@C_route)
		
		update Flight
		set FreeValue=@Capacity where C_route=@C_route and C_city=@C_city
		
		END
		
	END
END
GO
ALTER TABLE [dbo].[Flight] ENABLE TRIGGER [TFlight2]
GO
/****** Объект:  Trigger [dbo].[TRoute1]    Дата создания скрипта: 22.05.2026 0:41:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRoute1] on [dbo].[Route] --НАДО ЗАПРЕТИТЬ вводить руками последние 4 поля
for insert,update,delete
as	begin --1
	DECLARE @row int
        set @row=@@ROWCOUNT
		if @row=0 return 
		if @row=1
	BEGIN--2
		DECLARE @RegNumber int,@RegNumber0 int
		
		SELECT @RegNumber = RegNumber  from inserted
		SELECT @RegNumber0 = RegNumber  from deleted
		
		/*select @ArriveDate=ArriveDate from inserted
		select @DepartureDate=DepartureDate from inserted
		
		SELECT @EarlyDate=(select MAX(ArriveDate) from Flight where C_route=@C_route and ArriveDate<@DepartureDate)--максимальная дата прибытия
		SELECT @LastDate=(select MIN(DepartureDate) from Flight where C_route=@C_route and DepartureDate>@EarlyDate)--минимальная дата отправления
		*/
		IF(EXISTS (SELECT * FROM deleted)) --если пытаются изменить судно
		begin
			if (@RegNumber0!=@RegNumber)
			begin--3
				rollback transaction
				print 'Судно менять нельзя. Какое выбрал такое выбрал'
				return 
			end
		end
		
				
		/*Запретить менять ручками даты и города*/
	END
end
GO
ALTER TABLE [dbo].[Route] ENABLE TRIGGER [TRoute1]
GO
/****** Объект:  Trigger [dbo].[TСonsignment1]    Дата создания скрипта: 22.05.2026 0:41:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TСonsignment1] on [dbo].[Сonsignment]
for insert,update,delete
as	begin --1
	DECLARE @row int
        set @row=@@ROWCOUNT
		if @row=0 return 
		if @row=1
	BEGIN--2
		DECLARE @C_Scity int, @C_Ccity int, @C_route int,@СonsValue dec(18,2),@C0_route int, @СonsValue0 int
		SELECT @C_Scity = C_Scity  from inserted
		SELECT @C_Ccity = C_Ccity  from inserted
		SELECT @C_route = C_route  from inserted
		SELECT @C0_route = C_route  from deleted
		SELECT @СonsValue = СonsValue  from inserted
		
		SELECT @СonsValue0=СonsValue from deleted
		
	if (@C_Scity=@C_Ccity)
	begin--3
		rollback transaction
		print 'Города одинаковые'
		return 
	end
	
	IF(EXISTS (SELECT * FROM inserted)) --Если при добавлении новой партии вес партии>0
	begin
		IF(NOT EXISTS (SELECT * FROM deleted)) 
		begin
			if (@СonsValue>0)
			begin--3
				rollback transaction
				print 'Новая партия и сразу вес>0, не порядок'
				return 
			end
		end
	end
	
	--Если есть вес, партию удалять нельзя
		
	if (@C_route is not null)--Если вставляется код маршрута
	begin	
		if ((@C_Scity  not in (select C_city from Flight where C_route=@C_route)) or (@C_Ccity  not in (select C_city from Flight where C_route=@C_route)))--если точка отправления
		begin--3
			rollback transaction
			print 'Такого города в рейсе нет'
			return 
		end
					
		select C_route, C_city, FreeValue, DepartureDate, 
		CASE WHEN ArriveDate IS NULL THEN '' ELSE ArriveDate END as ass, 
		ROW_NUMBER() OVER(ORDER BY ArriveDate) Step
		Into #FlightStep
		from Flight where C_route=@C_route
		order by ArriveDate
			

		if ((select Step from #FlightStep where C_city=@C_Scity)>(select Step from #FlightStep where C_city=@C_Ccity))--если точка отправления
		begin--3
			DROP TABLE #FlightStep
			rollback transaction
			print 'Пребывание в городе отправки в Рейсе позже, чем в городе прибытия'
			return 
		end
			
		DECLARE @C_Scity_step int, @C_Ccity_step int --очередность следования городов отправления и прибытия (напр 2 и 5)
		DECLARE @CustomValue int, @Min_DV dec(18,2)
		select @CustomValue=CustomValue from inserted
		SELECT @C_Scity_step=(select Step from #FlightStep where C_city=(select C_Scity from Сonsignment where CustomValue=@CustomValue))
		SELECT @C_Ccity_step=(select Step from #FlightStep where C_city=(select C_Ccity from Сonsignment where CustomValue=@CustomValue))
			
		SELECT @Min_DV=(select MIN(FreeValue) from #FlightStep where   Step>=@C_Scity_step and Step<@C_Ccity_step)
			
		if (@Min_DV<@СonsValue)
		begin--3
			DROP TABLE #FlightStep
			rollback transaction
			print 'Отправка этим маршрутом невозможна, произойдет перевес'
			return 
		end
	end	
	
	IF(@C_route is not null and (EXISTS (SELECT * FROM inserted)))
	begin
		if (EXISTS (SELECT * FROM deleted))
		begin
			Update Flight
			set FreeValue = FreeValue+@СonsValue0 where  C_route=@C_route and C_city in 
			(select C_city from #FlightStep where Step>=@C_Scity_step and Step<@C_Ccity_step)
			DROP TABLE #FlightStep
		end
		else
		begin
			Update Flight
			set FreeValue = FreeValue-@СonsValue where  C_route=@C_route and C_city in 
			(select C_city from #FlightStep where Step>=@C_Scity_step and Step<@C_Ccity_step)
			DROP TABLE #FlightStep
		end
	end	

	
	
	
	IF(@C0_route is not null and (EXISTS (SELECT * FROM deleted)))
	begin
		select C_route, C_city, FreeValue, DepartureDate, 
		CASE WHEN ArriveDate IS NULL THEN '' ELSE ArriveDate END as ass, 
		ROW_NUMBER() OVER(ORDER BY ArriveDate) Step
		Into #FlightStep1
		from Flight where C_route=@C0_route
		order by ArriveDate
	
		Update Flight
		set FreeValue = FreeValue-@СonsValue where  C_route=@C0_route and C_city in 
		(select C_city from #FlightStep1 where Step>=@C_Scity_step and Step<@C_Ccity_step)
		DROP TABLE #FlightStep1
	end

			 
	END
end 
GO
ALTER TABLE [dbo].[Сonsignment] ENABLE TRIGGER [TСonsignment1]
GO
USE [master]
GO
